h2{
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
button{
    color: crimson;
    border-radius: 20px;
    background-color: yellow;
}

#p1{
    color: hotpink;
    font-size: 30px;
}

div{
    height: 200px;
    width: 300px;
    background: gold;
    border-radius: 25px;
    border: 2px solid;
    border-color: brown;
    margin-left: 250px;   /* This is used to align the div from the previous element*/

    padding-left: 150px; /*This is used to  align content inside the div*/

}
.pwhite{
    color: aqua;

}